

{% assign general = site.data.general[page.lang] %}



<!DOCTYPE html>
<html lang="en">
<head>
  <title>yes.com {% if page.title  %} {{ page.lang | prepend: " | " }} {% endif %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{{site.url}}/assets/images/yes-open-graph.jpg" />
  <link id="favicon" rel="icon" type="{{site.url}}/image/png" href="/favicon.png">
  <link rel="stylesheet" href="{{site.url}}/style.css?v=10" type="text/css">
  <script src="{{site.url}}/assets/javascripts/lib/modernizr.js"></script>
</head>
<body>
  <div id="root_url" style="display: none">{{site.url}}</div>


  <header id="header" class="header {% if page.headerBorder  %}
  headerBorder
  {% endif %}">
  <div class="site-padding">
    <div class="container-fluid">
      <div class="col-sm-12 text-right">
        <div id="header__paintbucket-button" class="header__paintbucket-button">
          <progress-ring stroke="1" radius="15" progress="0"></progress-ring>
          <img id="playpause" src="{{site.url}}/assets/images/pause.svg" alt="Click the paint bucket to open the style selector.">
        </div>
        <div id="hamburger" class="hamburger">
          <div class="hamburger__line hamburger__line--1"></div>
          <div class="hamburger__line hamburger__line--2"></div>
          <div class="hamburger__line hamburger__line--3"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="header__palette" class="header__palette text-center " data-swatch-parent>
    <div class="header__palette__swatches">
      <div class="header__palette__swatch header__palette__swatch--reset" data-swatch-reset></div>
      <div class="header__palette__swatch header__palette__swatch--preset-bank-1" data-preset-swatch="bank1"></div>
      <div class="header__palette__swatch header__palette__swatch--preset-bank-2" data-preset-swatch="bank2" ></div>
      <div class="header__palette__swatch" data-swatch></div>
      <div class="header__palette__swatch" data-swatch></div>
      <div class="header__palette__swatch" data-swatch></div>
      <img id="header__palette__refresh" class="header__palette__refresh" data-swatch-refresh src="{{site.url}}//assets/images/refresh.svg" alt="Click the icon to refresh the color palette options.">
    </div>
    <div class="header__palette__description small-text-strong">
      {{general.styleguide.msg}} 
      <a href="{{site.url}}/{{general.styleguide.link}}">{{general.styleguide.cta}}.</a>
    </div>
  </div>
</header>

<div class="site-padding">
  <div class="container-fluid">
    <div class="header__page-title header__page-title--styleguide">
      <a href="{% if page.lang == 'en' %}
              /
              {% endif %}
               {% if page.lang == 'de' %}
              /de
              {% endif %}" class="blank-link">

        {{ page.header }}
      </a>
    </div>
  </div>
</div>

<nav id="nav" class="nav">
  <div class="site-padding height-100">
    <div class="container-fluid height-100">
      <div class="container-fluid">
        <div class="header__page-title header__page-title--styleguide">
          <a href="{{site.url}}" class="blank-link">
        
            {{ page.header }}
          </a>
        </div>
      </div>
      <div class="nav__row row">
        <div class="col-sm-12 text-right">
          <ul class="blank-list">
            <li class="nav__list-item">
                 {% if page.lang == 'en' %}
              <a href="{{site.url}}" class="default-link">yes.com</a>
              {% endif %}
               {% if page.lang == 'de' %}
              <a href="{{site.url}}//de" class="default-link">yes.com</a>
              {% endif %}
              
            </li>

            {% for item in general.menu %}

            <li class="nav__list-item">
              <a href="{{site.url}}/{{item.link}}" class="default-link">{{item.cta}}
              </a>
            </li>

            {% endfor %}

<!-- 
              <li class="nav__list-item">
                we have a <a href="styleguide" class="default-link">styleguide</a>
              </li>
              <li class="nav__list-item">
                <a href="developers" class="default-link">developer resources</a>
              </li>
              <li class="nav__list-item">
                a <a href="game" class="default-link">game</a>
              </li>
              <li class="nav__list-item">
                we are in the <a href="news" class="default-link">news</a>
              </li>
              <li class="nav__list-item">
                and want to <a href="mailto:info@yes.com" class="default-link">get in touch</a>
              </li> -->

            </ul>
          </div>
          <div class="nav__bottom-col col-sm-12 text-right">
          {% if page.lang == 'de' %}
          <div class="mb-tiny">
            <a href="{{page.en-url}}" class="default-link">English</a>
          </div>
          {% endif %}

          {% if page.lang == 'en' %}
          <div class="mb-tiny">
            <a href="{{page.de-url}}" class="default-link">Deutsch</a>
          </div>
          {% endif %}
          </div>


        </div>
      </div>
    </div>
  </nav>

  <main id="{{page.title}}">







    <!-- Page Content -->


    {{ content }}


    <!-- End of page Content -->




    <!-- Footer -->

    <!-- Marqee -->
    <div class="">
      <a href="mailto:bewerbung@yes.com" class="blank-link">
        <div class="marquee small-text-strong">
          <div class="marquee__frame">
            <span class="marquee__text">{{general.hire}}</span>
          </div>
        </div>
      </a>
    </div>
    <!-- End of Marquee -->

  </main>

  <footer id="footer" class="footer small-text-strong">
    <div class="footer__col footer__col--left">
      <div class="footer__get-in-touch-text mb-medium text-center">
        {{general.contact.message}}
      </div>
      <a href="mailto:info@yes.com" class="button button--inline blank-link">{{general.contact.cta}}</a>
    </div>
    <div id="back-to-top-button" class="visible-xs mt-small mb-large small-text-strong text-center">
      <img src="/assets/images/to-top-carrot.svg">
      <div class="mt-tiny">{{general.backToTop}}</div>
    </div>
    <div class="footer__col footer__col--right">
      <div class="footer__col--right__col footer__col--right__col--left">

<!--           <div class="mb-large footer__address">
            Hafenstrasse 2<br>
            CH-8853 Lachen<br>
            Switzerland<br>

          </div> -->
          {% if page.lang == 'de' %}
          <div class="mb-tiny">
            <a href="/{{page.en-url}}" class="default-link">English</a>
          </div>
          {% endif %}

          {% if page.lang == 'en' %}
          <div class="mb-tiny">
            <a href="{{page.de-url}}" class="default-link">Deutsch</a>
          </div>
          {% endif %}

        </div>
        
        <div class="footer__col--right__col footer__col--right__col--right">
          <div >
            <div class="mb-tiny">
              {% if page.lang == 'en' %}
              <a href="/" class="default-link">yes.com</a>
              {% endif %}
               {% if page.lang == 'de' %}
              <a href="/de" class="default-link">yes.com</a>
              {% endif %}
            </div>
            {% for item in general.menu %}
            <div class="mb-tiny">
              <a href="/{{item.link}}" class="default-link">{{item.cta}}</a>
            </div>  
            {% endfor %}

          </div>
        </div>

        <svg height="0" width="0">
          <defs>
            <clipPath id="svgStarPath">
              <path d="M83.2810674,85.0190528 L88.0271238,70.4148924 L106.225798,76.7211772 L101.992567,62.0743722 L121.973323,61.8855743 L109.674212,50.1136976 L127.55845,43.5 L109.674212,36.8863024 L121.973323,25.1144257 L101.992567,24.9256278 L106.225798,10.2788228 L88.0271238,16.5851076 L83.2810674,1.98094722 L70.5,13.5926307 L57.7189326,1.98094722 L52.9728762,16.5851076 L34.7742017,10.2788228 L39.0074328,24.9256278 L19.0266774,25.1144257 L31.3257879,36.8863024 L13.4415503,43.5 L31.3257879,50.1136976 L19.0266774,61.8855743 L39.0074328,62.0743722 L34.7742017,76.7211772 L52.9728762,70.4148924 L57.7189326,85.0190528 L70.5,73.4073693 L83.2810674,85.0190528 Z" id="star_Star"></path>
            </clipPath>
          </defs>
        </svg>
      </footer>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{site.url}}//assets/javascripts/lib/jquery-3.4.1.min.js"><\/script>')</script>
      <script src="{{site.url}}//assets/javascripts/dist/application.min.js?v=9"></script>
      {% if page.slideshow == true %}  
      <script>  paintPause = false; </script>  
      {% endif %}

    </body>
    </html>
