{% assign t = site.data.[page.ref].[page.lang] %}
{% assign general = site.data.general.[page.lang] %}


<section class="section section--viewport section--centered-content">
  <div class="home__intro home__intro--styleguide text-center  mb-medium small-text-strong-xs">
    {{t.[0].intro}}<br>
  </div>
  <div class="section__number-mobile--first small-text-strong visible-xs">1.</div>
  <div class="button button--wide button--jumbo yes-button">yes<sup>®</sup></div>
  <img class="styleguide-swatch-selector-up-arrow mt-small mt-medium-sm" src="/assets/images/arrow-up.svg">
  <div id="styleguide-swatch-selector" class="styleguide-swatch-selector">
    <div class="styleguide-swatch-selector__col styleguide-swatch-selector__col-1">
      <div class="styleguide-swatch-selector__swatch-row styleguide-swatch-selector__swatch-row--border-radius" data-swatch-parent>
        <div class="styleguide-swatch-selector__swatch styleguide-swatch-selector__swatch--1" data-swatch-attribute="border-radius" data-swatch-attribute-value="0px"></div>
        <div class="styleguide-swatch-selector__swatch styleguide-swatch-selector__swatch--2" data-swatch-attribute="border-radius" data-swatch-attribute-value="15px"></div>
        <div class="styleguide-swatch-selector__swatch styleguide-swatch-selector__swatch--3" data-swatch-attribute="border-radius" data-swatch-attribute-value="30px"></div>
      </div>
    </div>
    <div class="styleguide-swatch-selector__col styleguide-swatch-selector__col-2">
      <div class="styleguide-swatch-selector__swatch-row styleguide-swatch-selector__swatch-row--border-color" data-swatch-parent>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="border-color"></div>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="border-color"></div>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="border-color"></div>
        <img class="styleguide-swatch-selector__refresh" data-styleguide-swatch-refresh src="/assets/images/refresh.svg">
      </div>
      <div class="styleguide-swatch-selector__swatch-row styleguide-swatch-selector__swatch-row--background-color" data-swatch-parent>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="background-color"></div>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="background-color"></div>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="background-color"></div>
        <img class="styleguide-swatch-selector__refresh" data-styleguide-swatch-refresh src="/assets/images/refresh.svg">
      </div>
      <div class="styleguide-swatch-selector__swatch-row styleguide-swatch-selector__swatch-row--random" data-swatch-parent>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="random"></div>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="random"></div>
        <div class="styleguide-swatch-selector__swatch" data-swatch-attribute="random"></div>
        <img class="styleguide-swatch-selector__refresh" data-styleguide-swatch-refresh src="/assets/images/refresh.svg">
      </div>
    </div>
    <div class="styleguide-swatch-selector__col styleguide-swatch-selector__col-3 hidden-xs">
      <div class="small-text-strong">
       {{t.[0].cssMessage}}
     </div>
   </div>
 </div>
 <div class="styleguide-swatch-mobile-description small-text-strong text-center visible-xs">
  {{t.[0].cssMessage}}
</div>
<div class="section__number section__number--bottom small-text-strong hidden-xs">1.</div>
</section>

<hr>

<section class="section section--centered-content text-center">
  <div class="styleguide__section-text mb-medium small-text-strong-xs">
    {{t.[1].msg}}<span class="required">*</span>.
  </div>
  <div class="button button--wide button--jumbo yes-button small-text-strong-xs">yes<sup>®</sup></div>
  <div class="section__number small-text-strong">2.</div>
</section>
<!-- Marqee -->
<div class="">
  
  <div class="marquee small-text-strong">
   <a href="https://twitter.com/espiekermann" class="blank-link">
    <div class="marquee__frame">
      <span class="marquee__text"><span class="required">*</span>{{t.[1].thanks}}</span>
    </div>
  </a>
</div>

</div>
<!-- End of Marquee -->

<!--     <hr> -->

<section class="section section--centered-content text-center">
  <div class="styleguide__section-text mb-small small-text-strong-xs">
    {{t.[2].msg}}
  </div>
  <div class="styleguide__section-text mb-medium small-text-strong-xs">
   {{t.forExample}} 
 </div>
 <br>
 <br>
 
 <div class=" mb-small">{{t.[2].context}}</div>
 <div class="button button--wide button--jumbo yes-button small-text-strong-xs mb-large">yes<sup>®</sup></div>


 <div class="yes-group-left hidden-xs">
   <div class=" yes-left">{{t.[2].context}}</div>
   <div class="button button--wide button--jumbo yes-button small-text-strong-xs">yes<sup>®</sup></div>
 </div>


 <div class="section__number small-text-strong">3.</div>
</section>

<hr>

<section class="section section--centered-content text-center">
  <div class="styleguide__section-text mb-small small-text-strong-xs">
    {{t.[3].msg}} 
  </div>
  <div class="styleguide__section-text mb-medium small-text-strong-xs">
    {{t.forExample}}
  </div>
  <div class="button button--wide button--jumbo yes-button small-text-strong-xs">yes<sup>®</sup> {{t.[3].agree}}</div>
  <div class="section__number small-text-strong">4.</div>
</section>

<hr>

<section class="section section--centered-content text-center" data-apply-class-on-scroll="animation-complete">
  <div class="star star--big">
    <img class="star__image" src="/assets/images/big-star.svg">
    <div class="star__label small-text-strong">{{t.[4].msg}}</div>
  </div>
  <div class="section__number small-text-strong">5.</div>
</section>




